# IntelliJ
*.iml
.idea/

# Project iml
JAVA_OOPSIES.iml

# Build / output
out/
build/
target/
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# temporary
*.tmp

# JetBrains / Copilot temporary
.autocp
